<style>
 body{
  background:#333333;
  color:rgb(255, 251, 0);
}
</style>
<form method="POST" action="/home">

    <h3> Enter the 5 Different Date</h3>
<label >Date 1:</label>
  <input type="text" id="date1" value="{{date1}}" ><br>
<label >Date 2:</label>
  <input type="text" id="date2" value="{{date2}}"><br>
  <label >Date 3:</label>
  <input type="text" id="date3" value="{{date3}}"><br>
  <label >Date 4:</label>
  <input type="text" id="date4" value="{{date4}}"><br>
  <label >Date 5:</label>
  <input type="text" id="date5" value="{{date5}}"><br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>