<style>
 body{
  background:#333333;
  color:rgb(255, 251, 0);
}
</style>
<form method="POST" action="/home">

    <h3> Enter the 5 Different Locations</h3>
<label >Location 1:</label>
  <input type="text" id="location1" value="{{location1}}"><br>
<label >Location 2:</label>
  <input type="text" id="location2" value="{{location2}}"><br>
  <label >Location 3:</label>
  <input type="text" id="location3" value="{{location3}}"><br>
  <label >Location 4:</label>
  <input type="text" id="location4" value="{{location4}}"><br>
  <label >Location 5:</label>
  <input type="text" id="location5" value="{{location5}}"><br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>