<style>
 body{
  background:#333333;
  color:rgb(255, 251, 0);
}
</style>
<form method="POST" action="/home">

    <h3> Enter the 5 Different Time slot</h3>
<label >Time 1:</label>
  <input type="text" id="time1" value="{{time1}}"><br>
<label >Time 2:</label>
  <input type="text" id="time2" value="{{time2}}"><br>
  <label >Time 3:</label>
  <input type="text" id="time3" value="{{time3}}"><br>
  <label >Time 4:</label>
  <input type="text" id="time4" value="{{time4}}"><br>
  <label >Time 5:</label>
  <input type="text" id="time5" value="{{time5}}"><br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>