<!doctype html>
<html lang="en">
<style>
* {
    color:lightslategray;
}

#dtBasicExample th {
    color: gold;
}

body#bodybg, #dtBasicExample td {
  background: black;
  color: gold;
}

#dtBasicExample {
  width:min-content;
}

.List{
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 600px;
  float: left;
}

  table#dtBasicExample.dataTable thead .sorting:after,
  table#dtBasicExample.dataTable thead .sorting_asc:after,
  table#dtBasicExample.dataTable thead .sorting_asc:before,
  table#dtBasicExample.dataTable thead .sorting_asc_disabled:after,
  table#dtBasicExample.dataTable thead .sorting_asc_disabled:before,
  table#dtBasicExample.dataTable thead .sorting_desc:after,
  table#dtBasicExample.dataTable thead .sorting_desc:before,
  table#dtBasicExample.dataTable thead .sorting_desc_disabled:after,
  table#dtBasicExample.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
  }
</style>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/addrbar/bootstrap-table-addrbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script src="/public/js/businessstatistics.js"></script>
{{!-- <link rel="stylesheet" href="/public/css/businessstatistics.css"> --}}
</head> 

<body id='bodybg'>

{{!-- <div class="ChooseMovie">
    <div class="MovieInfo">
        <h5>Movie Title1</h5>
        <h6>Movie AgeRating1<br>Movie Duration1</h6>
    </div>
    <div class="submit">
        <form action="../prodlist/editmovie">
            <input type="submit" value="Update" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
    <div class="submit">
        <form action="../prodlist">
            <input type="submit" value="Delete" class="btn btn-outline-warning">
        </form>
    </div>
    <hr> 

    <div class="MovieInfo">
        <h5>Movie Title2</h5>
        <h6>Movie AgeRating2<br>Movie Duration2</h6>
    </div>
    <div class="submit">
        <form action="../prodlist/editmovie">
            <input type="submit" value="Update" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
    <div class="submit">
        <form action="../prodlist">
            <input type="submit" value="Delete" class="btn btn-outline-warning">
        </form>
    </div>
    <hr>
    
</div>

<div class="ChooseSong">
    <div class="SongInfo">
        <h5>Song Title1</h5>
        <h6>Song AgeRating1<br>Song Duration1</h6>
    </div>
    <div class="submit">
        <form action="../prodlist/editsong">
            <input type="submit" value="Update" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
    <div class="submit">
        <form action="../prodlist">
            <input type="submit" value="Delete" class="btn btn-outline-warning">
        </form>
    </div>
    <hr>
    <div class="SongInfo">
        <h5>Song Title2</h5>
        <h6>Song AgeRating2<br>Song Duration</h6>
    </div>
    <div class="submit">
        <form action="../prodlist/editsong">
            <input type="submit" value="Update" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
    <div class="submit">
        <form action="../prodlist">
            <input type="submit" value="Delete" class="btn btn-outline-warning">
        </form>
    </div>
    <hr>
        
</div>

<div class="CreateMoviesAndSongs">
    <div class="submit">
        <form action="../prodlist/createmovie">
            <input type="submit" value="Create Movie" class="btn btn-outline-warning">
        </form>
    </div>
        <div class="blackblock1"></div>
    <div class="submit">
        <form action="../prodlist/createsong">
            <input type="submit" value="Create Song" class="btn btn-outline-warning">
        </form>
    </div>
    <div class="blackblock1"></div>
</div> --}}

<form action="../prodlist/createmovie">
    <input type="submit" value="Add More Movies" class="btn btn-outline-warning">
</form>

<div class="List">

</div>

<table id="dtBasicExample" 
class="table table-dark table-bordered mw-50" 
cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Movie Poster
      </th>
      <th class="th-sm">Movie Name
      </th>
      <th class="th-sm">Movie Rating
      </th>
      <th class="th-sm">Movie Duration
      </th>
      <th class="th-sm">Movie Genre(s)
      </th>
      <th class="th-sm">Movie Edit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each id}}
    <tr>
      <td>		
        {{!-- <img style="width: 110px; height: 160px; padding-bottom: 5px;" 
        src="../img/kv.jpg" alt="Norway" class="w3-hover-opacity"> --}}
        <img style="width: 110px; height: 160px; padding-bottom: 5px;" 
        src="public/uploads/{{ this.movieimage }}"
         alt="Norway" class="w3-hover-opacity">
      </td>
      <td>{{ this.moviename}}</td>
      <td>{{ this.movieagerating}}</td>
      <td>{{ this.movieduration}}</td>
      <td>
          {{ this.movieHorror }}
          {{ this.movieComedy }}
          {{ this.movieScience }}
          {{ this.movieRomance }}
          {{ this.movieAnimation }}
          {{ this.movieAdventure }}
          {{ this.movieEmotional }}
          {{ this.movieMystery }}
          {{ this.movieAction }}
      </td>
      <td>        
        <form action="../prodlist/editmovie">
            <input type="submit" value="Edit" class="btn btn-outline-warning">
        </form>
        <form action="../prodlist/deletemovie">
            <input type="submit" value="Delete" class="btn btn-outline-warning">
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Movie Poster
      </th>
      <th>Movie Name
      </th>
      <th>Movie Rating
      </th>
      <th>Movie Duration
      </th>
      <th>Movie Genre(s)
      </th>
      <th>Movie Edit
      </th>
    </tr>
  </tfoot>
</table>

</body>
</html>

{{!-- div.blackblock {
  background-color: black;
  width: 800px;
  height: 358px;
}
  
div.MovieInfo, div.SongInfo {
  width: 150px;
  }

div.blackblock1 {
    background-color: black;
    width: 800px;
    height: 10px;
  }
  
.btn#query {
    background-color: black;
    color: gold;
    border: 1px solid white;
  }
  
.btn#query:hover {
    background-color: grey;
    color: white;
 }

 div.ChooseMovie {
  float: left;
  width: 350px;
 }

 div.ChooseSong {
  float: left;
  top: 92px;
  left: 375px;
  width: 350px;
 }

 div.CreateMoviesAndSongs {
  left: 375px;
 } --}}